@use './variables.scss' as var;

.aside {
    background-color: hsl(240, 26%, 17%);
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    scrollbar-width: none;
    transform: translate3d(0, 0, -1px);
    transition: .3s ease;

    > div {
        width: 90%;
        position: absolute;
        top: 0;
        left: 5%;

        h2 {
            font-family: var.$open-sans-font;
            font-size: 18px;
            font-weight: 500;
            color: var.$subtitle-color;
            text-decoration:underline;
            
        }
    }

}

.hide-aside {
    transform: translate3d(-100%, 0, -1px);
}

.bookmarked-cities {
    margin: 1.7em 0;

    h2 {
        margin: .5em 0;
    }

    .bm-cities-wrap {
        padding-bottom: .3em;
        border-bottom: 2px solid hsl(240, 18%, 26%);
    }
}

#bookmark {
    font-family: var.$roboto-font;
    display: flex;
    align-items: center;
    gap: 1.6em;

    h3, p{
        padding: 2px 0;
    }

    h3 {
        font-size: 15px;
        font-weight: 500;
        margin: 5px 0;
        flex: .6;
        .link {
            color: hsl(120, 27%, 83%);
        }
    }

    button {
        font-size: 14px;
        background-color: transparent;
        padding: 1px 5px;
        margin: 8px 0;
        border: none;
        border-radius: 5px;
        outline: none;
    }

    div{
        display: flex;
        justify-content: space-around;
        flex: 1;

        #remove {
            color: hsla(0, 79%, 71%, 0.75);
            box-shadow: 0px 0px 2px 1px hsla(0, 79%, 71%, 0.75);
        }

    }
}

.popular-cities {

    .cities-ul {
        box-sizing: border-box;
        font-family: var.$roboto-font;
        overflow-y: hidden;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: .4em 2.5em;
        padding: 0 0 2em 0;
        margin: 0;
        height: 293px;
        list-style-type: none;
        transition: .3s ease;
        border-bottom: 2px solid hsl(240, 18%, 26%);
        
        li {
            font-size: 15px;
            margin: 0;
            padding: .4em 0;
            transition: .3s ease;

            .link {
                color: hsl(120, 27%, 83%);
                cursor: pointer;
            }
        }

        p:hover {
            background-color: hsl(240, 26%, 21%);
            color: hsl(120, 27%, 90%);
        }

    }

    .all-cities-ul {
        height: 733px;
    }
}

.settings {
    padding-bottom: .5em;
    margin-top: 1.3em;
    margin-bottom: 12em;
    border-bottom: 2px solid hsl(240, 18%, 26%);

    h3 {
        font-family: var.$open-sans-font;
        font-size: 16px;
        font-weight: 400;
        color: var.$subtitle-color;

    }

    div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: .4em 2.5em;
        margin-bottom: 1.3em;

        p {
            font-family: var.$roboto-font;
            font-size: 14px;
            color: hsl(120, 27%, 83%);
            margin: 0;

            span {
                padding: 4px 5px;
                border-radius: 4px;
            }
        }
    }
}

.aside::-webkit-scrollbar {
    width: 0
}

.default {
    color: hsla(214, 100%, 80%, 0.7);
    box-shadow: 0px 0px 2px 1px hsla(214, 100%, 80%, 0.7);
}

.checked {
    color: hsla(214, 100%, 84%, 1);
    box-shadow: 0px 0px 2px 2px hsla(214, 100%, 84%, .85);          
}


@media only screen and (min-width:899px) {
    .aside {
        width: 60%;
    }
}

@media only screen and (min-width:1250px){
    .aside {
        position: relative;
        width: 25%;
        height: auto;
        transform: none;
    }

    #bookmark {

        button {
            user-select: none;
            cursor: pointer;
        }

        div {

            #remove:hover {
                color: hsla(0, 79%, 71%, 1);
                box-shadow: 0px 0px 2px 1px hsla(0, 79%, 71%, 1);
            }  
        }
    }

    .settings {
        margin-bottom: 3em;

        p {
            cursor: pointer;
        }
    }

    .default:hover {
        color: hsla(214, 100%, 84%, 1);
        box-shadow: 0px 0px 2px 1px hsla(214, 100%, 84%, 1);
    }

    .checked {
        pointer-events: none;
    }

}