@use './variables.scss' as var;
@use './mixins.scss' as mixin;

#weather-forecast-home {
    padding-top: 25px;
    padding-bottom: 25px;
    width: 75%;
}

.current-weather {
    font-family: var.$roboto-font;
    padding: 2px 0 35px 0;
    
    .city-country {           
        font-family: var.$open-sans-font;              
        font-size: 1.45rem;
        color: var.$title-color;
        background-color: hsl(240, 26%, 22%);
        text-align: center;
        padding: .7em .5em;
        margin: 0;        
    }

    .date-and-year {
        font-size: 1.1rem;
        text-align: center;
        line-height: 1.5em;
        padding: .7em 0;
        margin: 0 10px;
        :last-child {
            color: var.$title-color;
        }
    }

    .current-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        padding-top: 15px;

        .temp-summary-wrapper {
            width: 300px;
            margin: 0 30px 20px 30px;

            #temp-now {
                color: hsl(60, 90%, 83%);
                font-size: 6em;
                font-weight: 500;
                text-align: center;
                margin: 5px 0 10px 0;
                sup {
                    font-size: .5em;
                }
            } 

            .current-summary {
                font-size: 1.2em;
                text-align: center;
                color: var.$summary-color;
                background-color: hsl(240, 26%, 20%);
                padding: .7em;
                margin: 0;
                border-radius: 8px;
            }
        }
            
        .image-wrapper { 
            @include mixin.image-wrapper;
        }

        .other-details-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            .other-details {
                font-size: 1.1em;
                @include mixin.other-details;

            }

            .show-details {
                @include mixin.show-details;
            }
        }

    }
    
    .hourly-forecast {
    @include mixin.hourly-forecast; 
    }
}

#city-country-star-wrap {
    position: relative;
    z-index: 0;
    user-select: none;

    .bookmark-star {
        font-size: 23px;
        color: hsl(202, 70%, 83%);
        height: 30px;
        width: 23px;
        position: absolute;
        margin: 0;
        padding: 0;
        top: 0;
        left: 7px;
        cursor: pointer;
    }
}

.seven-day-forecast{
    padding: 23px 0 5px 0;
    font-family: var.$roboto-font;
    border-top: 2px solid hsl(240, 18%, 26%);

    h3 {
        font-family: var.$open-sans-font;
        font-size: 1.25em;
        font-weight: 600;
        margin: 0;
        color: var.$subtitle-color;
        text-align: center;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style-type: none; /* no dots on list */
        padding: 0; /* removes default left padding*/
        margin: 10px auto;
        max-width: calc(300px + 50%);
        
        li {
            margin: 0 12px;
            display: inline-block;    
            text-align: center;
            
            .link {
                text-decoration: none;
                outline: 0;

                #day-date{
                    font-family: var.$roboto-font;
                    color: hsla(60, 70%, 85%);
                    padding: 3px 7px 0 7px;
                    margin: 5px 0;
                    line-height: 1.3em;
                    height: 60px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;  
                    align-items: center;

                    span {
                        font-family: 'Open sans', sans-serif;
                        font-size: 15px;
                        font-weight: 500;
                        display: block;
                    }

                    span:last-child {
                        font-family: var.$roboto-font;
                        font-size: 14px;
                        font-weight: 400;
                        color: hsla(60, 70%, 85%, 0.85);
                    }
                }

                img {                           
                    width: 62px;
                    position: relative;
                    bottom: 0;
                    transition: .3s ease;
                }
                
                .temp-lowhigh {

                    p {
                        display: inline-block;
                        padding: 0 6px;
                        margin: 12px 0 13px 0;

                        span {
                            font-size: 1rem;

                            sup {
                                font-size: .7rem;
                            }
                        }
                    }
                }        
            }       
        }
    }
}

.one-day-card {
    background: hsl(211, 54%, 30%);
    background-image: linear-gradient(to bottom,hsl(211, 68%, 26%), hsl(240, 20%, 22%));
    width: 132px;
    margin: 10px 0;
    border-radius: 8px;
    position: relative;
    bottom: 0;
    right: 0;
    transition: .2s ease-in-out;
}

.one-day-card:hover { 
    bottom: 9px;
    right: 3px;
}

@media only screen and (max-width: 1250px) {

    #weather-forecast-home {
        width: 100%;
    }

    .current-weather {

        .city-country {
            font-size: 1.35rem;
            padding: .7em 2em;
        }

        .date-and-year {
            font-size: 1rem;
            padding: .8em 0 0 0;
        }

        .current-wrapper {

            margin-top: 15px;

            .temp-summary-wrapper {             
                margin: 0 25px 0 25px;

                #temp-now {
                    font-size: 5em;
                    margin: 5px 0 10px 0;
                    sup {
                        font-size: .5em;
                    }
                } 

                .current-summary {
                    font-size: 1.25em;
                    text-align: center;
                    padding: .6em .7em;
                }
            }
        }

        .hourly-forecast {
            h3{
                font-size: 1.1em;
                
            }
        }
    }

    .seven-day-forecast {
        h3 {
            font-size: 1.15em;
        }
    }
}

@media only screen and (max-width: 899px) {

    .current-weather {

        .current-wrapper {

            .other-details-wrapper {
                margin: 1.7em 0 .5em 0;

                .other-details {
                    text-align: center  
                }
            }
        }
    }

    #city-country-star-wrap {
    
        .bookmark-star {
            font-size: 21px;
            cursor: auto;
        }
    
    }

}
