@use './variables.scss' as var;

@mixin hourly-forecast {

    width: 94%;
    margin: 0 auto;
        
    h3 {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.2rem;
        font-weight: 600;
        color: var.$subtitle-color;
        margin: 25px 0 12px 3px;
    }  

    .table-wrap {
        overflow-x: auto;

        table {
            width: 100%;
            margin: 0;
            text-align: center;
            background: rgb(36, 76, 119);
            background-image: linear-gradient(to bottom,rgb(23, 61, 102), rgb(67, 67, 82));
            border-radius: 5px;
            border-collapse: collapse;

            tbody {

                td {
                    font-size: 16px;
                    padding: 5px 10px;              
                }

                .td-hour {
                    border-top: var.$t-border;
                    border-right: var.$t-border;
                    border-left: var.$t-border;
                }

                .td-icon {
                    padding: 3px 10px;
                    border-right: var.$t-border;
                    border-left: var.$t-border;

                    img {
                        width: 27px;  
                        height: 27px; 
                        padding: 0 1em;                    
                    }
                }

                .td-temperature {
                    border-bottom: var.$t-border;
                    border-right: var.$t-border;
                    border-left: var.$t-border;
                }
            }
        }
    }
}

.table-wrap::-webkit-scrollbar {
    height: 4px;
    background-color: hsl(240, 26%, 20%);
}

.table-wrap::-webkit-scrollbar-thumb {
    background-color: hsl(240, 15%, 47%);
}

.table-wrap::-webkit-button {
    background-color: bisque;
}

@mixin image-wrapper {
    width: 230px;
    text-align: center;
    margin: 0 10px;
    img {
        width: 165px;
        height: 165px;
        align-self: center;
    }
}

@mixin other-details {
    box-sizing: border-box;
    width: 230px;
    height: 175px;
    overflow-y: hidden;
    margin: 0 10px;
    padding-left: 10px;
    border-bottom: 2px solid hsl(240, 18%, 26%);
    transition: 0.4s ease;
    p {
        margin: 18px 0;

        span {
            color: hsl(60, 90%, 88%);
        }
    }
}

@mixin show-details {
    height: 340px;
}
