$center-margin: 0px auto;
$max: 100%;
$nav-elements-width: 300px;
$roboto-font: 'Roboto', sans-serif;
$open-sans-font: 'Open Sans', sans-serif;
$background2: rgb(72, 72, 75);
$main-font: rgb(247, 244, 244);
$t-border: 1px solid hsl(240, 18%, 38%);
$title-color: hsl(60, 100%, 88%);
$subtitle-color: hsl(36, 100%, 88%);
$summary-color: hsl(261, 95%, 90%);
$link-color: hsl(120, 100%, 94%);